body {
    padding-top: 5rem;
}
#personalinfo{
    background-color: #006400;
    color: white;
    padding: 45px;
    text-align: center;
}
.pic{
  text-align:center;
  padding-top:-10px;
}

img{
  
    height: 200px;
    border-radius: 50px;
}
#bio{
    text-align: center;
}
#stats{
    text-align: center;
    margin: auto;
    width:20%;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
}
#button{
    text-align:center;
    padding-top:100px;
    padding-bottom:80px;
}
h1{
    color:white;
}

#border{
    border: 2px solid grey;
}
#a{
    
    text-align:center;
    float:left;
    padding:10px;
}
#b{
    
    text-align:center;
    float:left;
    padding:10px;
}
#c{
    
    text-align:center;
    float:left;
    padding-top:10px;
   
}